
<div class="container">
  <div class="row pt-3">
    <div class="col-6">
      <h1>Crud Empresa Local Storage</h1>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-primary" (click)="abrirModel()">Agregar Empresa</button>
    </div>
  </div>
  <div class="row" *ngIf="empresaList.length !== 0">
    <div class="col-3" *ngFor="let item of empresaList">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              nombre Empresa: <b>{{item.nombre}}</b> 
            </div>
          </div>
        </div>
        <div class="card-body">
          <p> direcion de empresa: <b>{{item.direccion}}</b></p>
          <p>NIT: <b>{{item.NIT}}</b></p>
          <p> fecha fundacion: <b>{{item.fechaFundacion}}</b></p>
        </div>
        <div class="card-footer text-center">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-sm btn-primary" (click)="editarEmpresa(item)">Editar</button>
              <button class="btn btn-sm btn-danger" (click)="eliminarEmpresa(item)">Eliminar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
    <div class="row" *ngIf="empresaList.length == 0">
      <div class="col-12 p-4 text-center">
        <p>No hay regristros. Guarda una empresa</p>
      </div>
    </div>
</div>


<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Formulario Empresa</h4>
        <button type="button" class="btn-close" (click)="cerrarModel()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="">Nombre Empresa</label>
            <input type="text" [(ngModel)]="EmpresaOBJ.nombre" class="form-control" placeholder="Nombre empresa">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">NIT Empresa</label>
            <input type="text" [(ngModel)]="EmpresaOBJ.NIT" class="form-control" placeholder="NIT empresa">
          </div>
          <div class="col-6">
            <label for="">Fecha de Fundacion</label>
            <input type="text" [(ngModel)]="EmpresaOBJ.fechaFundacion" class="form-control" placeholder="Fecha de Fundacion">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="">direccion</label>
            <textarea [(ngModel)]="EmpresaOBJ.direccion" class="form-control" placeholder="direccion" ></textarea>
          </div>   
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="cerrarModel()">Cerrar</button>
          <button type="button" class="btn btn-success" (click)="guardarEmpresa()" *ngIf="EmpresaOBJ.id == 0">Guardar Empresa</button>
          <button type="button" class="btn btn-success" (click)="actualizarEmpresa()" *ngIf="EmpresaOBJ.id !== 0">Actualizar Empresa</button>
      </div>
    </div>
  </div>
</div>
